<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono&display=swap"
        rel="stylesheet">
    <style>
        $styles.html()$
    </style>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
    $for(header-includes)$ $header-includes$ $endfor$
    <!-- katex render is called at bottom of body -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css"
        integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"
        integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</head>

<body>
    $for(include-before)$
    $include-before$
    $endfor$

    <div class="pages">
        <div id="title-page"
            style="height: 246.9mm; text-align: center; display: flex; flex-direction: column; justify-content: center; gap: 4mm;">
            <div style="font-size: 1.875rem; font-weight: 500">$title$</div>
            <div>$author$</div>
            <div>$date$</div>
        </div>

        <div class="frontmatter">
            <section id="abstract" class="level1">
                <h1>Abstract</h1>
                $abstract$
            </section>

            <section id="toc" class="level1">
                <h1>Contents</h1>
                $table-of-contents$
            </section>
        </div>

        <!-- Do not indent "body", because <code> tags are white-space sensitive! -->
        <main>$body$</main>
    </div>

    $for(include-after)$
    $include-after$
    $endfor$

    <!-- don't wait for DOMContentLoaded event, because katex has to be executed before pagedjs chunker -->
    <script>
        document.querySelectorAll(".math").forEach(element => {
            const texText = element.firstChild;
            if (element.tagName == 'SPAN') {
                katex.render(texText.data, element, {
                    displayMode: element.classList.contains('display'),
                    output: 'html',
                    throwOnError: false,
                });
            }
        })
    </script>
</body>

</html>